<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Date</key>
	<string>Wed Apr 22 17:17:43 2009
</string>
	<key>Format</key>
	<string>3gpp</string>
	<key>Name</key>
	<string>3G</string>
	<key>SettingsData</key>
	<data>
	AAAAAAAAAAAAAAAAAAAK+3NlYW4AAAABAAAAEgAAAAAAAAG2dmlkZQAAAAEAAAAQAAAA
	AAAAACJzcHRsAAAAAQAAAAAAAAAAbXA0dgAAAAAAGAAAAwAAAAAgdHBybAAAAAEAAAAA
	AAAAAAAAAwAADwAAAAAACgAAACRkcmF0AAAAAQAAAAAAAAAAAAB9AAAAAAAAAAMAAAAD
	AAAAABVtcHNvAAAAAQAAAAAAAAAAAAAAABhtZnJhAAAAAQAAAAAAAAAAAAAAAAAAABhw
	c2ZyAAAAAQAAAAAAAAAAAAAAAAAAABViZnJhAAAAAQAAAAAAAAAAAAAAABZtcGVzAAAA
	AQAAAAAAAAAAAAAAAAAoaGFyZAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA
	AAAAFmVuZHMAAAABAAAAAAAAAAAAAAAAABZjZmxnAAAAAQAAAAAAAAAAAEQAAAAYY21m
	cgAAAAEAAAAAAAAAAGFwcGwAAAAUY2x1dAAAAAEAAAAAAAAAAAAAABx2ZXJzAAAAAQAA
	AAAAAAAAAAMAHAABAAAAAAAYd2R0aAAAAAEAAAAAAAAAAAFAAAAAAAAYaGVndAAAAAEA
	AAAAAAAAAADwAAAAAABcaXNpegAAAAEAAAADAAAAAAAAABhpd2R0AAAAAQAAAAAAAAAA
	AAABQAAAABhpaGd0AAAAAQAAAAAAAAAAAAAA8AAAABhzY2FtAAAAAQAAAAAAAAAAbGV0
	dAAAB0Vzb3VuAAAAAQAAAAYAAAAAAAAGuWF1ZGkAAAABAAAABgAAAAAAAAA8b3NiZAAA
	AAEAAAAAAAAAAEDliIAAAAAAbHBjbQAAAAwAAAAEAAAAAQAAAAQAAAACAAAAEAAAAAAA
	AAXsY2RzdAAAAAEAAAAAAAAAADw/eG1sIHZlcnNpb249IjEuMCIgZW5jb2Rpbmc9IlVU
	Ri04Ij8+CjwhRE9DVFlQRSBwbGlzdCBQVUJMSUMgIi0vL0FwcGxlIENvbXB1dGVyLy9E
	VEQgUExJU1QgMS4wLy9FTiIgImh0dHA6Ly93d3cuYXBwbGUuY29tL0RURHMvUHJvcGVy
	dHlMaXN0LTEuMC5kdGQiPgo8cGxpc3QgdmVyc2lvbj0iMS4wIj4KPGFycmF5PgoJPGRp
	Y3Q+CgkJPGtleT5jb252ZXJ0ZXI8L2tleT4KCQk8c3RyaW5nPlNhbXBsZVJhdGVDb252
	ZXJ0ZXI8L3N0cmluZz4KCQk8a2V5Pm5hbWU8L2tleT4KCQk8c3RyaW5nPlNhbXBsZSBS
	YXRlIENvbnZlcnRlcjwvc3RyaW5nPgoJCTxrZXk+cGFyYW1ldGVyczwva2V5PgoJCTxh
	cnJheT4KCQkJPGRpY3Q+CgkJCQk8a2V5PmF2YWlsYWJsZSB2YWx1ZXM8L2tleT4KCQkJ
	CTxhcnJheT4KCQkJCQk8c3RyaW5nPkZhc3Rlcjwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+
	RmFzdDwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+Tm9ybWFsPC9zdHJpbmc+CgkJCQkJPHN0
	cmluZz5CZXR0ZXI8L3N0cmluZz4KCQkJCQk8c3RyaW5nPkJlc3Q8L3N0cmluZz4KCQkJ
	CTwvYXJyYXk+CgkJCQk8a2V5PmN1cnJlbnQgdmFsdWU8L2tleT4KCQkJCTxpbnRlZ2Vy
	PjI8L2ludGVnZXI+CgkJCQk8a2V5PmhpbnQ8L2tleT4KCQkJCTxpbnRlZ2VyPjA8L2lu
	dGVnZXI+CgkJCQk8a2V5PmtleTwva2V5PgoJCQkJPHN0cmluZz5RdWFsaXR5PC9zdHJp
	bmc+CgkJCQk8a2V5Pm5hbWU8L2tleT4KCQkJCTxzdHJpbmc+UXVhbGl0eTwvc3RyaW5n
	PgoJCQkJPGtleT5zdW1tYXJ5PC9rZXk+CgkJCQk8c3RyaW5nPlF1YWxpdHkgc2V0dGlu
	ZyBmb3IgdGhlIHNhbXBsZSByYXRlIGNvbnZlcnRlci48L3N0cmluZz4KCQkJCTxrZXk+
	dmFsdWUgdHlwZTwva2V5PgoJCQkJPGludGVnZXI+MTA8L2ludGVnZXI+CgkJCTwvZGlj
	dD4KCQkJPGRpY3Q+CgkJCQk8a2V5PmF2YWlsYWJsZSB2YWx1ZXM8L2tleT4KCQkJCTxh
	cnJheT4KCQkJCQk8c3RyaW5nPlByZTwvc3RyaW5nPgoJCQkJCTxzdHJpbmc+Tm9ybWFs
	PC9zdHJpbmc+CgkJCQkJPHN0cmluZz5Ob25lPC9zdHJpbmc+CgkJCQk8L2FycmF5PgoJ
	CQkJPGtleT5jdXJyZW50IHZhbHVlPC9rZXk+CgkJCQk8aW50ZWdlcj4xPC9pbnRlZ2Vy
	PgoJCQkJPGtleT5oaW50PC9rZXk+CgkJCQk8aW50ZWdlcj4yPC9pbnRlZ2VyPgoJCQkJ
	PGtleT5rZXk8L2tleT4KCQkJCTxzdHJpbmc+UHJpbWluZyBNZXRob2Q8L3N0cmluZz4K
	CQkJCTxrZXk+bmFtZTwva2V5PgoJCQkJPHN0cmluZz5QcmltaW5nIE1ldGhvZDwvc3Ry
	aW5nPgoJCQkJPGtleT5zdW1tYXJ5PC9rZXk+CgkJCQk8c3RyaW5nPlByaW1pbmcgbWV0
	aG9kIGZvciB0aGUgc2FtcGxlIHJhdGUgY29udmVydGVyLjwvc3RyaW5nPgoJCQkJPGtl
	eT52YWx1ZSB0eXBlPC9rZXk+CgkJCQk8aW50ZWdlcj4xMDwvaW50ZWdlcj4KCQkJPC9k
	aWN0PgoJCTwvYXJyYXk+CgkJPGtleT52ZXJzaW9uPC9rZXk+CgkJPGludGVnZXI+MDwv
	aW50ZWdlcj4KCTwvZGljdD4KPC9hcnJheT4KPC9wbGlzdD4KAAAANGNsYXkAAAABAAAA
	AAAAAAAAZQACAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABVyZWNvAAAAAQAA
	AAAAAAAAAAAAABhxbHR5AAAAAQAAAAAAAAAAAAAAQAAAABx2ZXJzAAAAAQAAAAAAAAAA
	AAMAFQABAAAAAAAYc3NjdAAAAAEAAAAAAAAAAHNvd3QAAAAYc3NydAAAAAEAAAAAAAAA
	AKxEAAAAAAAWc3NzcwAAAAEAAAAAAAAAAAAQAAAAFnNzY2MAAAABAAAAAAAAAAAAAgAA
	ABx2ZXJzAAAAAQAAAAAAAAAAAAMAFAABAAAAAAAYZnR5cAAAAAEAAAAAAAAAADNncDUA
	AAAYZW52aQAAAAEAAAAAAAAAAHBybzAAAAAYY29uZgAAAAEAAAAAAAAAADNHUFAAAAAY
	Y2hhbgAAAAEAAAAAAAAAAAAAAAEAAAAYYWZydAAAAAEAAAAAAAAAAAAAAAEAAAAYYXFs
	dAAAAAEAAAAAAAAAAAAAAGAAAAAYYmFzZQAAAAEAAAAAAAAAAAAAAQAAAAAYdHhlbgAA
	AAEAAAAAAAAAAAAAAAIAAAAWcnR4dAAAAAEAAAAAAAAAAAAAAAAAGGhpbnQAAAABAAAA
	AAAAAAAAAAABAAAAGHBzaXoAAAABAAAAAAAAAAAAAAWqAAAAGHBkdXIAAAABAAAAAAAA
	AAAAAABkAAAAGHJzbWsAAAABAAAAAAAAAAAAAAAAAAAAFmRkcm0AAAABAAAAAAAAAAAA
	AAAAAERkZXh0AAAAAQAAAAIAAAAAAAAAGGRtb2QAAAABAAAAAAAAAAAAAAAAAAAAGGRy
	bWYAAAABAAAAAAAAAAAAAAAA
	</data>
	<key>Type</key>
	<string>Movie</string>
</dict>
</plist>
