<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <remove name="Default"/>
      </listeners>
    </trace>
    <switches>
      <!--
        The following settings control what information, if any, is written to the ShowCase
        trace (log) file.  This can be useful for diagnosing problems.
        
        For the trace(s) desired, change one or more of the following "value" arguments
        to the level desired.  If unsure what to set, set all of them to "Verbose" if a
        problem is being investigated, otherwise set all to "Error".  Turning on tracing
        by setting any of the trace switches to anything other than "Error" could slow
        down ShowCase.
        
        Supported settings for "value":
        
        Off = no traces written to log file
        Error = error traces only
        Warning = error and warning traces
        Info = error, warning and info traces
        Verbose = all traces
      -->
      <add name="LicensingSwitch" value="Off" />
      <add name="DicomdirSwitch" value="Off" />
      <add name="ImageDisplaySwitch" value="Off" />
      <add name="SaveSwitch" value="Off" />
      <add name="SaveAsSwitch" value="Off" />
      <add name="DeleteSwitch" value="Off" />
      <add name="CdDvdBurnSwitch" value="Off" />
      <add name="ExportSwitch" value="Off" />
      <add name="SRSwitch" value="Off" />
      <add name="ConnectSwitch" value="Off" />
    </switches>
  </system.diagnostics>
</configuration>